<div class='container-sm'>
  <figure class="text-end">
    <blockquote class="blockquote">
      <p>A well-known quote, contained in a blockquote element.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>
</div>
<button class="link">Clicky</button>
<% if current_user.admin? %>
  <%= turbo_stream_from(:users) %>
  <div id="users">
    <%= render partial: 'users/users_count', locals: { users: @users } %>
  </div>
  <%= link_to 'Users', users_list_path, class: 'btn btn-primary'%>
<% end %>
<%= link_to 'Genere', generes_path, class: 'btn btn-primary'%>

<h1>This is home</h1>
<%= turbo_frame_tag 'anyframe' do %>        
  <div>
    <h2>Home view</h2>
    <%= form_with scope: :any, url: turbo_frame_submit_path, local: true do |form| %>
      <%= form.label :anynumber, 'Type an integer (odd or even)', class: 'my-0  d-inline'  %>
      <%= form.text_field :anynumber, type: 'number',required: true, value: "#{local_assigns[:anynumber] || 0}", 'aria-describedby' => 'anynumber' %>
      <%= form.submit 'Submit this number', id: 'submit-number' %>
    <% end %>
  <div>
<% end %>
