<div id="<%= dom_id upload %>">
  <p>
    <strong>Generes:</strong>
    <%= upload.generes_id %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= upload.users_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= upload.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= upload.link %>
  </p>

</div>
