<p style="color: green"><%= notice %></p>

<% if current_user.admin? %>
  <%= link_to "New genere", new_genere_path, class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', home_dashboard_path, class: 'btn btn-danger' %>
<h1>Generes</h1>
<% dragActions = "dragstart->drag#dragStart
                  dragover->drag#dragOver
                  dragenter->drag#dragEnter
                  drop->drag#drop
                  dragend->drag#dragEnd" %>
<div id="generes">
  <% @generes.in_groups_of(10, false).each do |group| %>
    <div class='row'>
      <% group.each do |genere| %>
        <%= content_tag(:div, class: 'col-md-2 draggable', draggable: true, data: {
                                controller: 'drag',
                                action: dragActions,
                                resource_id: genere.id,
                                url: "/drag/item",
                                parent: 'generes'
                              }) do %>
              <%= link_to genere.name, genere, class: 'btn btn-warning'%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>